a {
    font-size: 14px;
}

form .container {
    width: 1190px;
}

.home-btn {
    background-color: transparent;
    border: none; 
    font-size: 18px;
}

.home-btn:hover {
    background-color: transparent;
}

.customer-detail-container {
    padding: 15px;
}

.section-title {
    border-bottom: 2px solid orange;
}

input,
.input {
    width: 300px;
}

th,
td {
    text-align: center;
    font-size: 14px;
}

button {
    border: none;
    font-size: 18px;
}

.bi-pencil-square {
    color: orange;
}

.section-title .bi-pencil-square{
    color: black;
}

.bi-trash {
    color: red;
}

a {
    text-decoration: none;
}

.btn-add-invoice {
    background-color: orange;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.create-customer-cd-from {
    border: 1px solid black;
}

/* Create Customer Invoice css */

/*.create-invoice-cd-right-section {
    margin-left: 100%;
}*/

.heading-title span {
    background-color: orange;
    width: 100%;
}

.heading-title-container {
    background-color: orange;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

.heading-title {
    font-size: 20px;
    margin-bottom: 0;
}

.create-customer-invoice-right-section {
    width: 500px;
}